.badgeLabel {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 82px;
}
.badge {
  border-radius: var(--br-base);
  background-color: var(--base-white);
  border: 1px solid var(--primary-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
  mix-blend-mode: normal;
  white-space: nowrap;
}
.message {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.arrowRightIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.badgeGroup,
.content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content1 {
  gap: var(--gap-9xs);
  text-align: left;
}
.badgeGroup {
  border-radius: var(--br-base);
  background-color: var(--primary-50);
  border: 1px solid var(--primary-200);
  box-sizing: border-box;
  padding: var(--padding-11xs) var(--padding-4xs) var(--padding-11xs)
    var(--padding-10xs);
  gap: var(--gap-xs);
  mix-blend-mode: multiply;
  max-width: 100%;
}
.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--display-xl-semibold-size);
  letter-spacing: -0.02em;
  line-height: 72px;
  font-weight: 600;
  font-family: inherit;
  color: var(--gray-900);
}
.headingAndBadge {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.supportingText {
  width: 768px;
  position: relative;
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  color: var(--gray-600);
  display: inline-block;
  max-width: 100%;
}
.headingAndSupportingText {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.playCircleIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonLabel {
  position: relative;
  font-size: var(--text-lg-regular-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--text-md-regular);
  color: var(--gray-700);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.placeholderIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button {
  cursor: pointer;
  border: 1px solid var(--gray-300);
  padding: var(--padding-sm) var(--padding-8xl);
  background-color: var(--base-white);
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.placeholderIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  position: relative;
  font-size: var(--text-lg-regular-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--text-md-regular);
  color: var(--base-white);
  text-align: left;
  display: inline-block;
  min-width: 66px;
  white-space: nowrap;
}
.placeholderIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--primary-600);
  padding: var(--padding-sm) var(--padding-8xl);
  background-color: var(--primary-600);
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.actions,
.container,
.content {
  display: flex;
  justify-content: flex-start;
}
.actions {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.container,
.content {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.content {
  padding: 0 var(--padding-xl);
  gap: var(--gap-29xl);
}
.container {
  padding: 0 var(--padding-13xl);
}
.mockupShadow {
  height: 100%;
  width: 1200px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: calc(50% - 600px);
  box-shadow: var(--shadow-3xl);
  border-radius: var(--br-xs);
  background-color: var(--gray-900);
}
.screenMockupReplaceFill {
  width: 1216px;
  position: relative;
  border-radius: var(--br-xs);
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.container1,
.content2,
.screenMockup,
.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.screenMockup {
  height: 826px;
  width: 1232px;
  border-radius: var(--br-xs);
  border: 8px solid var(--gray-900);
  position: relative;
  max-width: 102%;
  flex-shrink: 0;
}
.container1,
.content2,
.section {
  max-width: 100%;
}
.content2 {
  height: 560px;
  width: 1216px;
  padding: 0;
}
.container1,
.section {
  align-self: stretch;
  padding: 0 var(--padding-13xl);
}
.section {
  flex-direction: column;
  padding: var(--padding-77xl) var(--padding-61xl) 0;
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--text-sm-semibold-size);
  color: var(--primary-700);
  font-family: var(--text-md-regular);
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--display-lg-medium-size);
    line-height: 58px;
  }
  .section {
    padding-top: var(--padding-43xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .badgeGroup {
    flex-wrap: wrap;
  }
  .content {
    gap: var(--gap-5xl);
  }
  .container,
  .container1 {
    gap: var(--gap-base);
  }
  .section {
    gap: var(--gap-13xl);
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--display-md-semibold-size);
    line-height: 43px;
  }
  .supportingText {
    font-size: var(--text-md-regular-size);
    line-height: 24px;
  }
  .actions {
    flex-wrap: wrap;
  }
  .section {
    gap: var(--gap-base);
  }
}
